<!DOCTYPE html>
<html lang="en">

 {% include "screen_upper.html" %}

<body>

    
						
     <div id="pages_maincontent">
      
          <h2 class="page_title">About us</h2>
			  
                  <!-- Slider -->
                 <div class="swiper-container-pages swiper-init" data-effect="slide" data-pagination=".swiper-pagination" data-next-button=".swiper-button-next" data-prev-button=".swiper-button-prev">
                    <div class="swiper-wrapper">
                    
                      <div class="swiper-slide">
			<img src="/static/images/team_picture.png" alt="" title="" />
                       </div>
                    </div>


                  </div>		  
			  
	<div class="page_single layout_fullwidth_padding">	
	  
              <blockquote>
              앙전모 마스띠~ <span>SMARTINSIDEAI.COM</span>
              </blockquote>
			  
              <h3>Members</h3>   
              <ul class="features_list">
		          <li><a href="index.html"><img src="/static/images/icons/blue/dash.png" alt="" title="" /><span>K BAE</span></a></li>
                  <li><a href="cctv.html"><img src="/static/images/icons/blue/cctv2.png" alt="" title="" /><span>Mr.B</span></a></li>
                  <li><a href="sensor.html"><img src="/static/images/icons/blue/sensor.png" alt="" title="" /><span>Joon</span></a></li>  
	  

              </ul>
              
              <a href="tel:010-4414-4587" class="button_full btyellow">Call me NOW!</a>

              <h4>You can use this web for your company:</h4>
              <ul class="simple_list">
              <li>Check your CCTV</li>
              <li>Check your MACHINE</li>
              <li>Check your WiFi</li>
              <li>Check your MONEY</li>
              </ul>
			  
			  
              <a href="http://smartinside.ai/" class="button_full btyellow">Go to homepage NOW!</a>
			  
			  
         </div>
      
      </div>
      
      

    
        
    </body>
</html>