<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/ajax_js_test.js"></script>  


<div class="pages">
  <div data-page="video" class="page no-toolbar no-navbar">
    <div class="page-content">
    
	<div class="navbarpages navbarpagesbg">
                            <div class="navbar_left">
                                <div class="logo_text"><a href="/">SmartInside</a></div>
                            </div>
			    <div class="navbar_right navbar_right_menu">
				<a href="#" data-panel="left" class="open-panel"><img src="/static/images/icons/white/menu.png" alt="" title="" /></a>
			    </div>			
			    <div class="navbar_right">
				<a href="#" data-panel="right" class="open-panel"><img src="/static/images/icons/white/user.png" alt="" title="" /></a>
			    </div>
	</div>
  
        
        
    <div id="pages_maincontent">
      
      <h2 class="page_title">DASHBOARD</h2>
     <div class="page_single layout_fullwidth_padding">  



    <!--                     ajax                     -->





<div class="card bg-primary text-white shadow">
    <div class="card-body">
        smoke
        <button type="button" id='smoke' class="btn btn-primary btn-lg">GET</button>
    </div>
 </div>


<div class="card bg-danger text-white shadow">
    <div class="card-body">
        nohelmet
        <button type="button" id='nohelmet' class="btn btn-danger btn-lg">GET</button>
     </div>
 </div>

 <div class="card bg-danger text-white shadow">
    <div class="card-body">
        nomask
        <button type="button" id='nomask' class="btn btn-danger btn-lg">GET</button>
     </div>
 </div>
   
 <div class="card bg-danger text-white shadow">
    <div class="card-body">
        danger
        <button type="button" id='danger' class="btn btn-danger btn-lg">GET</button>
     </div>
 </div>


 <div class="card bg-danger text-white shadow">
    <div class="card-body">
        human
        <button type="button" id='human' class="btn btn-danger btn-lg">GET</button>
     </div>
 </div>
         
          </div>
  </div>
        
        
              <!-- <script>
        setInterval(function() {document.getElementById("smoke").click();}, 1000);
    </script>   -->
        
        
      </div>
    </div>
</div>
