{% load static %}
<!doctype html>
<html lang="en">

      
      <!-- 본문 내용 -->
      <body>
      
      <div class = "container">
      <div class="row">
          
 
                 <div class="col-xl-3 col-md-6 mb-2">
                                   <div class="card bg-danger text-white shadow">
                                        <div class="card-body">
                                            2구역
                                            <div class="text-white big">마스크 미착용</div>
                                </div>
                            </div>
                 </div>
          
                <div class="col-xl-3 col-md-6 mb-2">
                                   <div class="card bg-danger text-white shadow">
                                        <div class="card-body">
                                            1구역
                                            <div class="text-white big">안전모 미착용</div>
                                </div>
                            </div>
                 </div>
          
                           <div class="col-xl-3 col-md-6 mb-2">
                                   <div class="card bg-warning text-white shadow">
                                        <div class="card-body">
                                            3구역
                                            <div class="text-white big">TOO HOT</div>
                                </div>
                            </div>
                 </div>
          
          
                           <div class="col-xl-3 col-md-6 mb-2">
                                   <div class="card bg-danger text-white shadow">
                                        <div class="card-body">
                                            EM4
                                            <div class="text-white big">이상값 탐지</div>
                                </div>
                            </div>
                 </div>
         
    </div>
    </div>
    </body>
</html>