<!DOCTYPE html>
<html lang="en">
 {% include "screen_upper.html" %}
    

<body>
    
    
    <script>setInterval(function() {document.getElementById("smoke").click();}, 1000);</script> 
    
    
     <div id="pages_maincontent">
      
              <h2 class="page_title">MAP</h2>
			  
<div class="page_single layout_fullwidth">	 

      <div class = "container">
      <div class="row">
    
    <div style="width:48% !important; height:auto !important; border:1px solid green; float:left;">
   <video src="/static/video/mapping.mp4" controls loop muted autoplay allowfullscreen="" height=auto !important; width=100% !important; frameborder="0">재생할 수 없다</video> 
</div>
         
<div style="width:48% !important; height:auto !important; border:1px solid green; float:right;">
   <video src="/static/video/mapping.mp4" controls loop muted autoplay allowfullscreen="" height=auto !important; width=100% !important; frameborder="0">재생할 수 없다</video> 
</div>
    <div style="width:48% !important; height:auto !important; border:1px solid green; float:left;">
   <video src="/static/video/mapping.mp4" controls loop muted autoplay allowfullscreen="" height=auto !important; width=100% !important; frameborder="0">재생할 수 없다</video> 
</div>
         
<div style="width:48% !important; height:auto !important; border:1px solid green; float:right;">
   <video src="/static/video/mapping.mp4" controls loop muted autoplay allowfullscreen="" height=auto !important; width=100% !important; frameborder="0">재생할 수 없다</video> 
</div>

         </div>
    </div>


    
 
     <div class = "container">
      <div class="row">
          
          <div class="col-6">
 <div class="card bg-white text-black shadow">
    <center><div class="logo_text">
        총인원
    </div> </center>
</div>
                
          </div>    
        
          <div class="col-6">
              <div class="logo_text">
        <button type="button" id='human' class="btn btn-white btn-lg"></button>
    </div>
          </div>
       
</div>
 </div>
    
     <div class = "container">
      <div class="row">
          
          <div class="col-6">
 <div class="card bg-white text-black shadow">
    <center><div class="logo_text">
        Area 1
    </div> </center>
</div>
                
          </div>    
        
          <div class="col-6">
              <div class="logo_text">
        <button type="button" id='smoke' class="btn btn-white btn-lg"></button>
    </div>
          </div>
       
</div>
 </div>
    
     <div class = "container">
      <div class="row">
          
          <div class="col-6">
 <div class="card bg-white text-black shadow">
    <center><div class="logo_text">
        Area 2
    </div> </center>
</div>
                
          </div>    
        
          <div class="col-6">
              <div class="logo_text">
        <button type="button" id='nohelmet' class="btn btn-white btn-lg"></button>
    </div>
          </div>
       
</div>
 </div>
    
     <div class = "container">
      <div class="row">
          
          <div class="col-6">
 <div class="card bg-white text-black shadow">
    <center><div class="logo_text">
        Area 3
    </div> </center>
</div>
                
          </div>    
        
          <div class="col-6">
              <div class="logo_text">
        <button type="button" id='nomask' class="btn btn-white btn-lg"></button>
    </div>
          </div>
       
</div>
 </div>

     
     <div class = "container">
      <div class="row">
          
          <div class="col-6">
 <div class="card bg-white text-black shadow">
    <center><div class="logo_text">
        Area 4
    </div> </center>
</div>
                
          </div>    
        
          <div class="col-6">
              <div class="logo_text">
        <button type="button" id='danger' class="btn btn-white btn-lg"></button>
    </div>
          </div>
       
</div>
 </div>
       

    
         </div>
    </div>
    </body>
</html>